*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/other.xml

# Kotlin 2.0
.kotlin/

/.idea/runConfigurations.xml
/reports
/.idea/AndroidProjectSystem.xml
/.idea/deviceManager.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/dictionaries/project.xml

/.idea/markdown.xml
/.idea/studiobot.xml
/app/release
/.idea/androidTestResultsUserPreferences.xml
/.claude/settings.local.json